-
    if (!error_code) error_code = 403
    if (!error_title) error_title = "Forbidden"
    if (!error_desc) error_desc = "You do not have sufficient permissions to access this resource."

.min-h-full.bg-transparent.px-4.py-16(class='sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8')
    .mx-auto.max-w-max
        maindiv(class='sm:flex')
            p.text-4xl.font-bold.tracking-tight.text-emerald-600(class='sm:text-5xl')=error_code
            div(class='sm:ml-6')
                div(class='sm:border-l sm:border-gray-200 sm:pl-6')
                    h1.text-4xl.font-bold.tracking-tight.text-gray-900(class='sm:text-5xl')=error_title
                    p.mt-1.text-base.text-gray-500=error_desc
                .mt-10.flex.space-x-3(class='sm:border-l sm:border-transparent sm:pl-6')
                    a.inline-flex.items-center.rounded-md.border.border-transparent.bg-emerald-600.px-4.py-2.text-sm.font-medium.text-white.shadow-sm(href='/', class='hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2') Go back to dashboard
                    //a.inline-flex.items-center.rounded-md.border.border-transparent.bg-emerald-100.px-4.py-2.text-sm.font-medium.text-emerald-700(href='#', class='hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2') Contact support
